{% extends "core/base.html" %}
{% block head_title %}
   Change Password
{% endblock  %}
{% block body %}
<section>
{% if form.non_field_errors %} {% for error in form.non_field_errors %}
<div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
    <p class="font-bold">Error!</p>
    <p class="block sm:inline">{{ error }}</p>
</div>
{% endfor %} {% endif %}
<div class="bg-white px-3 py-4 rounded-xl my-6">
    <div class="w-full mt-10">
        <form novalidate method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
             {{ hidden_field.errors }} {{ hidden_field }} {% endfor %}
             <div class="flex flex-wrap -mx-3 mb-6">
                {% for fm in form %}
                <div class="w-full md:w-2/2 px-3 mb-6 md:mb-0">
                    <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="{{ form.first_name.id_for_label }}">
                        {{ fm.label }}
                    </label>
                    <input class='appearance-none block w-full bg-gray-200 
                    text-gray-700 border border-gray-200 rounded 
                    py-3 px-4 leading-tight focus:outline-none 
                    focus:bg-white focus:border-gray-500' type="password" {{fm.attrs}} name="{{fm.name}}" id='{{fm.id_for_label}}'>
                     {% if fm.errors %} {% for error in fm.errors %}
                    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
                    {% endfor %} {% endif %}
                </div>
                {% endfor %}
            </div>
            
            <div class="flex items-center justify-between">
                <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
</section>
{% endblock  %}